
<div id="save-query-panel" class="box">
  <div class="query-frame" id="query-list">
    <!-- <div class="default-query"> -->
      <mat-nav-list class="nav-list" id="default-query">
        <mat-list-item class="query-item">default query</mat-list-item>
      </mat-nav-list>
      <mat-divider></mat-divider>
    <!-- </div> -->
    <div class="auto-scroll">
      <mat-nav-list class="nav-list">
        <mat-list-item class="query-item"
          *ngFor="let query of queryList; index as idx"
          (click)="clickMenu($event)"
        >
          {{ query.name }} -- {{ idx }}
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>
  <div class="query-frame">
    <div id="query-content-area">
      <textarea id="query-content"> adjshfkdsaf aflks lksaj laks lk sldak lksa slka ksalksalkfhsdakfhkslfl ksalsdak asldksdkaaslkd lskdahasklhsadlkhasklfh</textarea>
    </div>
  </div>
</div>
